
<div class="container text-center">
  <p>List of cocktails</p>
  <div class="card-container text-center">
    <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div data-aos="zoom-in"
       data-aos-easing="ease-out-cubic"
       data-aos-duration="2000">
        <div class="card-product">
          <%= image_tag "cocktail.jpg", alt: "cocktail", width: 200 %>
          <div class="card-product-infos">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail.id), class: 'custom-card' %></h2>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  </div>
  </div>
