// Import your components CSS files here.
@import "alert";
@import "navbar";

.card-product {
  overflow: hidden;
  height: 120px;
  width: 330px;
  background: white;
  box-shadow: 10px 10px 15px 15px lightgrey;
  display: flex;
  align-items: center;
  margin:20px ;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-container {
  display:flex;
}

.container {
  padding :20px;
  border: 1px solid grey;
  box-shadow:10px 10px 10px 10px grey;
    p {
      font-size : 28px;
    }

}

.card-detail {
  color:grey;
  opacity:0.5;
  text-decoration: none;
    &:hover {
      text-decoration: none !important;
      opacity: 1 !important;
      color: black !important;
    }

}
